<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
</head>
<body>
    <nav>
        <h1>Fitness<span>Club</span></h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('manage') }}">Membership</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Membership</h1>
        <h2>Our Monthly Plans</h2>
        <li>Bronze: Access to gym equipment and group classes.(1500rs)</li>
        <li>Silver: Access to gym equipment and group classes.(2000rs)</li>
        <li>Gold: Access to gym equipment and group classes.(3000rs)</li>
    </div>

</body>
</html>